<div id="deleteReviewForm" class="modal">
  <div class="modal-content">
    <div class="row">
      <h4 class="capitalize">Delete Review</h4>
      <p>Are you sure you want to delete your review?</p>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect btn-flat"
      >Cancel<i class="material-icons right">close</i></a
    >
    <a
      class="modal-close red-text waves-effect waves-red btn-flat"
      id="deleteReview"
    >
      Delete<i class="material-icons right">delete</i>
    </a>
  </div>
</div>
