body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body > footer {
  margin-top: auto;
}

.capitalize {
  text-transform: capitalize;
}

.file-field {
  margin-top: 2rem;
}

.file-field input.file-path {
  width: 100%;
}

.file-field .file-path-wrapper {
  overflow: visible;
}

.file-field > .btn.right ~ .file-path-wrapper,
.file-field > .btn-small.right ~ .file-path-wrapper,
.file-field > .btn-large.right ~ .file-path-wrapper {
  padding-left: 0;
  padding-right: 10px;
}

.navbar-fixed {
  z-index: 998;
}

nav {
  transition: all ease-in-out 300ms;
}

nav.black-text a {
  color: black;
}

nav.black-text .breadcrumb::before {
  color: black;
}

nav.black-text .breadcrumb:last-child {
  color: black;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.darken-img {
  filter: brightness(75%);
}

.collection .collection-item.no-avatar {
  padding-left: 20px;
}

.waves-effect.waves-pink .waves-ripple {
  background-color: rgba(233, 30, 90, 0.65);
}

#restaurantDetails img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

form.card .card-action {
  text-align: center;
}
