<li class="hide-on-large-only">
  <div class="user-view">
    <div class="background">
      <img
        class="darken-img"
        width="300"
        height="160"
        src="https://images.unsplash.com/photo-1643352292000-24b8993622f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=300&h=160"
      />
    </div>
    <a href="/dashboard"
      ><img
        width="64"
        height="64"
        class="circle"
        src="/storage/img/user/{{ id }}.jpg"
    /></a>
    <a href="/dashboard"
      ><span class="white-text name"
        >{{ firstName }} {{ lastName }}</span
      ></a
    >
    <a href="/dashboard"
      ><span class="white-text email">{{ email }}</span></a
    >
  </div>
</li>
<li>
  <a href="/dashboard">Hello, {{ username }}</a>
</li>
<li><a class="logout-link" href="#">Log out</a></li>
